<?xml version="1.0"?>
<!-- Launch file to test the dronenav node using PX4 SITL and Gazebo -->
<launch>
  <!-- Simulation arguments-->
  <arg name="x" default="0.0" />
  <arg name="y" default="0.0" />
  <arg name="z" default="0.0" />
  <arg name="R" default="0.0" />
  <arg name="P" default="0.0" />
  <arg name="Y" default="0.0" />
  <arg name="est" default="ekf2" />
  <arg name="vehicle" default="iris_depth_camera" />
  <arg name="world" default="$(find px4)/Tools/sitl_gazebo/worlds/empty.world" />
  <arg name="sdf" default="$(find px4)/Tools/sitl_gazebo/models/$(arg vehicle)/$(arg vehicle).sdf" />

  <arg name="gui" default="true" />
  <arg name="debug" default="false" />
  <arg name="verbose" default="false" />
  <arg name="paused" default="false" />
  <arg name="respawn_gazebo" default="false" />
  <arg name="fcu_url" default="udp://:14540@localhost:14557" />
  <arg name="respawn_mavros" default="false" />
  <arg name="interactive" default="true" />

  <!-- dronenav node -->
  <node pkg="dronenav" type="dronenav_node" name="dronenav" output="screen">
    <param name="connect_tries" type="int" value="10"/>
    <param name="arm_tries" type="int" value="10"/>
    <param name="offboard_mode_tries" type="int" value="10"/>
    <param name="reach_radius_sqr" value="0.1"/>
    <param name="yaw_min_error" value="0.1"/>
    <param name="waypoint_timeout" value="30.0"/>
    <param name="moving_tick_resolution" value="0.01"/>
    <param name="cruise_speed" value="1.0"/>
  </node>

  <!-- PX4 SITL and Gazebo Simulation-->
  <include file="$(find px4)/launch/posix_sitl.launch">
      <arg name="x" value="$(arg x)" />
      <arg name="y" value="$(arg y)" />
      <arg name="z" value="$(arg z)" />
      <arg name="R" value="$(arg R)" />
      <arg name="P" value="$(arg P)" />
      <arg name="Y" value="$(arg Y)" />
      <arg name="world" value="$(arg world)" />
      <arg name="vehicle" value="iris" />
      <arg name="sdf" value="$(arg sdf)" />
      <arg name="gui" value="$(arg gui)" />
      <arg name="interactive" value="$(arg interactive)" />
      <arg name="debug" value="$(arg debug)" />
      <arg name="verbose" value="$(arg verbose)" />
      <arg name="paused" value="$(arg paused)" />
      <arg name="respawn_gazebo" value="$(arg respawn_gazebo)" />
  </include>

  <!-- mavros node -->
  <include file="$(find mavros)/launch/px4.launch">
      <arg name="gcs_url" value="" />
      <arg name="fcu_url" value="$(arg fcu_url)" />
      <arg name="respawn_mavros" value="$(arg respawn_mavros)" />
  </include>

  <!-- rqt_console node-->
  <node pkg="rqt_console" type="rqt_console" name="rqt_console"/>
</launch>